#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(210, 97.61904762%, 50.58823529%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  z-index: 1000;
  border-bottom: 1px solid white;
}

#topbar.topbar-hidden {
  transform: translateY(-100%);
}

#topbar.topbar-visible {
  transform: translateY(0);
}

.topbar-logo {
  max-height: 310px;
  display: block;
}

@media (max-width: 800px) {
  .topbar-logo {
    max-height: 150px;
  }
}
